<!DOCTYPE html>
<html>
    <head>
       <title>Login</title>
       <link rel="stylesheet" type="text/css" href="../static/style.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

<div class="login-form">
    <h1>Login</h1>
    <form action="#" method="post">
        <p>User Name</p>
    <input type="text" name="user" placeholder="Username">
    <p>Password</p>
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
    </form>
</div>
    </body>
</html>