<!DOCTYPE html>
<html>
    <head>
       <title>Register</title>
       <link rel="stylesheet" type="text/css" href="../static/style.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

<div class="login-form">
    <h1>Registracija</h1>
    <form action="/registrovanje" method="post">
    <p>Nadimak</p>
    <input type="text" name="nickname" placeholder="Nadimak">
    <p>Email</p>
    <input type="email" name="email" placeholder="Email">
    <p>Lozinka</p>
    <input type="password" name="password" placeholder="Lozinka">
    <button type="submit">Registruj se</button>
    <p>Vec imas nalog? <a href="/">Uloguj se</a></p>
    </form>
</div>
    </body>
</html>